/*Everything related to the responsiveness -------------------------------------*/
/** {
    box-sizing: border-box;
}*/
.row::after {
    content: "";
    clear: both;
    display: block;
}
/*Default is for mobile*/
[class*="col-"] {
    width: 100%;
}
/*     .col-1 {width: 8.33%;}
    .col-2 {width: 25%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 50%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}*/

@media only screen and (max-width: 800px) {
    body { 
        font-size: 60%;
        overflow: auto;
    }

}

@media only screen and (min-width: 801px) {
     /*For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}



.editColumn {
	font-family: 'Raleway', sans-serif; 
	position: relative; 
	text-align: left; 
	float: left; 
	padding-left: 30px;
	padding-top: 30px;
    padding-right: 30px;
	/*width: 18%; */
	height: 100%; 
	background: #fff;
	overflow: auto;
	border-right: 1px solid #666;
	border-right-style: dotted;
}

.mainButton {
    font-family: 'Raleway', sans-serif; 
	background-color: white;
    border: 1px solid #666;
    border-radius: 7px;
    width: 70%;
    color: #666;
    padding: 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 4px 2px;
    cursor: pointer;
}
.mainButton:hover {
    background-color: #666;
    border: 1px solid #666;
    color: white;
}
.smallButton {
    font-family: 'Raleway', sans-serif; 
    background-color: white;
    border: 1px solid #666;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #666;
    padding: 10px;
    text-align: center;
    line-height: 80%;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    /*margin: 2px;*/
    cursor: pointer;
}
.smallButton:hover {
    background-color: #666;
    border: 1px solid #666;
    color: white;
}

/* CODE FOR THE HELPER MODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    font-family: 'Raleway', sans-serif; 
    color: #666;
    background-color: #fff;
    margin: auto;
    padding: 35px;
    border: 1px solid #888;
    width: 50%;
}
/* The Close Button */
.close {
    color: #666;
    float: top left;
    font-size: 250%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 100%;
    font-weight: 400;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
}


/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #666;
}

/*Styles for sliders*/
#slidecontainer {
    width: 80%;
    padding-top: 20px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    /*border-radius: 5px;*/
    background: #bbb;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    border-radius: 50%;
    background: #666;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    border-radius: 50%;
    background: #666;
    cursor: pointer;
}

ol {
    padding-left: 12px;
    /*list-style-type: none;*/
}

#pattern {
    background: #fff; 
    height: 100%; 
    width: 100%; 
    float: left; 
    position: relative;
}